
.bg-blur {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('javascript.avif') center/cover no-repeat;
    filter: blur(4px);
    z-index: -1;
}

body {
    font-family:sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    background: rgb(216, 216, 216);
    padding-top: 15px;
    width: 420px;
    height: 220px;
    border-radius: 20px;
    text-align: center;
}

h1 {
    font-size: 22px;
    color: #080808;
    margin-bottom: 20px;
}

input {
    width: 85%;
    padding: 10px;
    border: 3px solid #080808;
    border-radius: 6px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    width: 30%;
    padding: 10px;
    background: #f75301;
    color: rgb(3, 3, 3);
    border: 3px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background: #ff5e00;
}

#output {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #060606;
}
